header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    box-shadow: 0 0 15px #0004;
}

header h1.title,
header h2.subtitle {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

@media screen and (max-width: 769px), print {
    header h2.subtitle {
        display: none;
    }
}

#result-container,
#program-container,
#error-container,
#warning-container {
    display: none;
}

#error-container ul,
#warning-container ul {
    list-style-type: disc;
}

#result-container pre,
#program-container pre {
    padding: 0;
    background-color: transparent;
}

#error-container label.label {
    color: hsl(348, 100%, 31%);
}

#error-container li {
    color: hsl(348, 100%, 61%);
}

#warning-container label.label {
    color: hsl(48, 100%, 37%);
}

#warning-container li {
    color: hsl(48, 100%, 17%);
}